 $txtcolor : #fff;
 $fontf :tahoma;
$nn:none;
$bl: block;
$ab: absolute;
$c: center;
$color1:#bd4f6c;
$color2:#d7816a;
$color3:#607d8b;
$color4:#bf5347;
$color5:#c24234;
$color6:#313131; 
$color7:#b3b3b3; 
$color8:#bb5f5e; 
$color9:#b7337c; 