@import 'mixins';
@import 'var';
   
.bg { 
@include bgcode(url(../images/2.jpg),100vh); }
    .hero {
    position: $ab;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $fontf;
    color: $txtcolor;

}
.text1 {
    @include txt(80px);
}

.text2{
    @include txt(50px); 
    letter-spacing: 5pxs;
} 

.bg_admin {
@include bgcode(url(../images/1.jpg),80vh); 
}
 
.btn {
    text-align: $c;
    margin: 0 auto;
    text-decoration: $nn;
    border: 2px solid $txtcolor;
    padding: 12px, 30px;
    border-radius: 50px;
    display: $bl;
    color: $txtcolor;
    margin-top: 40px;
    font-size: 22px;
&:hover{
 background-color: $color5;
 color: $txtcolor;
}}
.navbar {
    @include navbar; 

.wrapper {
    padding: 0 85px;
}
 
.navbar-nav {
    float: right; 

&>li>a {
    color: $txtcolor;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;

&:hover,
&:focus {
    background: none;
    color: $txtcolor;
}
}
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid $txtcolor;
    border-radius: 0;

& .icon-bar {
    background-color: $txtcolor;
}
}

.navbar-brand {
    color: $txtcolor;
}

.navbar-collapse {
    max-height: none !important;
} 
}

.latest-news-area{ 
@include lna(40px,repeat(auto-fit, 1fr));
 
.latest-news-wrap{
@include lnw(575px);
}

.date{ 
    background: $color1 none repeat scroll 0 0;
    height: 70px;
    left: 0;
    position: $ab;
    text-align: $c;
    top: 0;
    width: 70px;
    padding: 10px;
 
& span{
    display: $bl;
    color: $txtcolor;
    font-weight: 700;
    font-size: 16px;
}
}
.news-content{
    padding: 20px;
    margin-left: 3px;
    font-family: Arial, Helvetica, sans-serif;
 
& h3{
    margin-top: 0;
}
 
& p{
    margin-bottom: 15px;
    text-align: justify;
    margin-top: 20px;
}

& a{
    @include ahover(#fff); 
    font-size:14px ;
    background-color:#cf7065;
    padding: 10px 20px ; 
    transition: all 0.5s ease-in; 
    width: 120px; 

&:hover{
@include ahover($color1);
    border: 1px solid $color1; 
    border-top-right-radius: 20px;
    background-color: transparent;
    text-decoration:$nn;
    }
}
} 
}
 
.news-img{
    position: relative ;
 
&:before{
    position: $ab;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000 ;
    content: "";
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.5s;
    
    .latest-news-wrap:hover &{
 opacity: 0.4;
 transform: scale(1.0);
}
}
}
 


@media (max-width: 768px){

    .latest-news-area{
@include lna(20px,repeat(2, 1fr)); 

    .latest-news-wrap{
      @include lnw(auto); 
    }
    }
 
    .text1 {
    @include txt(60px);
    }

    .text2 {
    @include txt(30px);
        letter-spacing: 5pxs;
    }
 
    .table{
    @include tbl(0px);
        text-align: center;
      
    & .btn{
    @include tbl(4px);
        padding: 2px; 
        width: 60px;
    }
    }
}

