@import 'mixins';
@import 'var';

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box; 
font-family: 'Poppins', sans-serif;
}

.navbar {
@include navbar; 
@include navbar2;
}

section{
position: relative;
@include htwd(100%);
    height: 100vh;
display: flex;
 
& .imgBx{
position: relative;
@include htwd(50%);

&:before{
content: '';
@include img; 
background: linear-gradient(225deg,transparent,$color2);
z-index: 1;
mix-blend-mode: screen;
}

& img{
@include img; 
object-fit: cover;
}}

& .contentBx{
@include htwd(50%);
@include sec;

& .formBx{
width: 50%;

& h2{
@include form(600,20px);
font-size: 1.5em;
text-transform: uppercase;
border-bottom: 4px solid #ff4584;
}

& .inputBx{
margin-bottom: 10px;

& span{
@include form(300,5px);
}

& input{
@include form(400,5px);
@include inp(20px);
@include input(transparent, 1px solid $color3)

&[type="submit"]{
@include input($color3,none) 
@include fwcl(#fff,500)  
outline: none;  
cursor: pointer;

&:hover{
background: $color1;
}}}}
& .remember {
@include fwcl($color3,400)  
margin-bottom: 10px;
font-size: 14px;
}}}}

@media (max-width: 768px){
section .imgBx {
		position: absolute;
		top: 0;
		left: 0;
@include htwd(100%);
	}

	section .contentBx {
@include sec;
@include htwd(100%); 
		z-index: 1;
	}

	section .contentBx .formBx {
		width: 50%;
		padding: 40px;
		background: rgba(255, 255, 255, 0.8);
		margin: 50px;
	}

	section .contentBx .formBx .inputBx input{ 
	@include inp(10px);
	@include input(transparent,1px solid $color3);
		font-weight: 400; 
		font-size: 8px;
		letter-spacing: 1px;
		color: $color3; 
	}
}

