@import 'mixins';
@import 'var';

.navbar {
@include navbar;
@include navbar2; 
}
 
.btnn{
@include cont($color3,5px 10px 5px 10px);
width: 100px; 
margin-top: 15px;
margin-right: 15px;
outline: none;
border: none;
font-weight: 500;
cursor: pointer;

&:hover{
background: $color1;
text-decoration: none;
}
}

body {
font-family: Arial, Helvetica, sans-serif;
}

.site-content{
	text-align:center;
margin-top:100px; 
 
.post-content{
margin-bottom: 1.5rem; 

& > .post-image .post-title{ 
position: absolute;
}

& > .post-image .post-info{
@include cont($color4,10px);
@include postinfo(16px,6.7vw,22vw,400px);   
}

& > .post-image > div{
overflow: hidden;
}

& > .post-image .img{
  content: " (" attr(href) ")";
height:300px;
width: 500px; 
margin:10px 10px 20px 325px;
border:1px solid #000;
transition: all 1s ease;
} 

& > .post-image .post-info span{
margin: 0.5rem;
}
}
& .post-title{
margin-top:35px; 
font-size: 1.5rem; 
}
}

@media (max-width: 1024px){
.site-content{   
.post-content{    
font-size: 16px;  
& > .post-image .post-info{
@include cont($color4,10px);
@include postinfo(14px,19vw,19vw,340px); 
} 
} 
}

.btnn{
@include cont($color3,5px 10px 5px 10px);
width: 100px; 
margin: 0px 15px 10px 0px; 
display: inline-block;
	color: white;
	font-size: 1.8rem;
	& a{ 
	color: white;
	}
}

}

@media (max-width: 768px){
.site-content{
margin-top:100px;
display: grid;
grid-template-columns: 100% 0%; 

.post-content{    
font-size: 16px;  
& > .post-image .post-info{
@include cont($color4,10px);
@include postinfo(14px,5.7vw,27vw,340px); 
}

& > .post-image .img{
height: 405px;
width: 768px; 
transition: all 1s ease;
} 

& .rate h3{
	margin:10px;
	font-size:20px;
}

} 
}

.btnn{
@include cont($color3,5px 10px 5px 10px);
width: 100px; 
margin: 0px 15px 10px 0px; 
display: inline-block;
	color: white;
	font-size: 1.8rem;
	& p{ 
	color: white;
	}
}

}
 
@media (max-width: 425px){
.site-content{ 
.post-content{    
& > .post-image .post-info{
@include cont($color4,10px);
@include postinfo(14px,47vw,10vw,340px);  
}

& > .post-image .img{
height: 250px;
width: 100%; 
transition: all 1s ease;
} 

& h4{ 
font-size: 16px; 
}
}

& .post-title h2{ 
font-size: 2.5rem; 
} 
}
}
 
@media (max-width: 375px){
.site-content{  
.post-content{    
& > .post-image .post-info{
@include cont($color4,10px);
@include postinfo(14px,59vw,7.5vw,320px); 
}

& > .post-image .img{
height: 230px;
width: 100%; 
transition: all 1s ease;
}  
}
}
}
 
@media (max-width: 320px){
.site-content{
margin:100px 3px ; 
.post-content{    
& > .post-image .post-info{
@include cont($color4,10px);  
@include postinfo(12px,82vw,7.5vw,270px); 
}

& > .post-image .img{
height: 190px;
width: 100%; 
transition: all 1s ease;
} 

& h4{ 
font-size: 15px; 
}
}

& .post-title h2{ 
font-size: 2rem; 
} 
} 
}