@import 'mixins';
@import 'var';

.table{
    @include tbl(0px);
    text-align: center; 

& .btn{ 
    @include tbl(4px); 
    padding: 2px;
    width: 100px; 

&:hover {
    background-color: rgba(0, 0, 0, 0.7);
} 

}

}
  a {
    color: $color9;
    text-decoration: none;

&:hover {
    color:$txtcolor;
    text-decoration: none; 
}
} 

btn{
width: 100%;
}

@media(max-width:375px){
   body{
   width:20px;
   } 
}

 



