.navbar {
  padding: 45px 0px;
  transition: all 0.5s ease-in-out;
  font-family: tahoma;
  background-color: #bd4f6c;
  background-image: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
  padding: 7px 0; }

.article{
  display: flex;
}
 
h1{
  text-align: center;
 margin: 27%;
  color: #607d8b;
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 4px solid #ff4584;
}

.btnn {
  background-color: #607d8b;
  color: #fff;
  padding: 5px 10px 5px 10px;
  border-radius: 3rem;
  width: 100px;
  margin-top: 15px;
  margin-right: 15px;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer; }

.btnn:hover {
  background: #bd4f6c;
  text-decoration: none; }

h2 {
  margin-top:15px;
  /*margin-left: 25%; */
}

body {
  font-family: Arial, Helvetica, sans-serif; }


  .grand_parent{ 
   width: 100%;
   height:100vh;
 }
 .site-content{  
   height: auto;
   display: flex;
   flex-wrap: wrap; 
   transition: all 0.2 linear;
   margin: 200px 20px 20px 20px ;
 } 
 .childa{
   height: auto;
   width: 63%; 
   margin: 20px;
 } 
 .childb{
   height: auto;
   width: 32.5%; 
   margin: 20px 0px 0px 5px;
 } 
 .childc{
   height: auto;  
   margin: 20px;
   width: 90%; 
 }
  
   .posts{
      height: 200px;
      background: #ffbe76;
      width: 65%; 
      margin: 20px;
    }
  .trending_post d{
      height: 200px;
      background: #ffbe76;
      width: 65%; 
      margin: 20px;   
    } 
.site-content .post_content {
  /*margin-bottom: 1.5rem;      new*/ }

.site-content .post_content > .post-image .post-title {
  position: absolute; }

.site-content .post_content > .post-image .post-info {
  background-color: #bf5347;
  color: #fff;
  padding: 10px;
  border-radius: 3rem;
  background-color: #bf5347;
  color: #fff;
  padding: 10px;
  border-radius: 3rem;
  font-size: 16px;
  position: absolute;
  bottom: 6.7vw;
  left: 22vw;
  text-align: center;
  width: 400px;
  border-radius: 3rem; }

.site-content .post_content > .post-image > div {
  overflow: hidden; }

.site-content .post_content > .post-image .img {
  height: 445px;
  width: 100%;
  transition: all 1s ease; }

.site-content .post_content > .post-image .img:hover {
  transform: scale(1.3); }

.site-content .post_content > .post-image .post-info span {
  margin: 0.5rem; }

.site-content .post_title {
  /*margin-top: 35px;     new*/
  font-size: 1.5rem; }

/*new for comments*/
.containerr {
  margin: 30px; }

.card {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem; }

.card-header {
  padding: .5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.card-body {
  flex: 1 1 auto;
  padding: 10px 15px 10px 10px; }

.main-comment h5{
  margin-top: 20px;
  margin-bottom: 0px;
}

.comment_textbox {
  border: 0.1px solid #999;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px; }

.post-comment {
  border: 1px solid #999;
  /*border-radius: 20px;         new*/
  margin-bottom: 50px;
  margin-top: 50px; }

.reply_box {
  padding: 10px;
  border: 0.1px solid #999;
  margin-top: 20px; }

.sub_reply_msg, .reply_msg {
  margin-top: 10px; }

.btn {
  margin-top: 10px;
  background-color: #d2d2d2;
  color: #b74d65;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  width: 120px;
  margin-right: 15px;
  outline: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer; }

.sub_reply_box {
  margin: 10px 0px 0px 50px;
  border: .5px solid #b3b3b3;
  padding: 10px; }
 
@media (max-width: 1440px) {
  .childc .container {
        width: 65%;
    margin-left: 30px; }
  .site-content {    
    margin-top: 80px;
   /* grid-template-columns: 65% 35%;*/
    } }

@media (max-width: 1024px) {
  .card-body { 
    padding: 0px 15px 10px 10px;
}
.childb { 
    width: 31.5%;}
  .container {
    margin-left: auto; }
  .site-content {     
    margin-top: 85px ; }
  .site-content .post_content {
    font-size: 16px; }
  .site-content .post_content > .post-image .post-info {
    background-color: #bf5347;
    color: #fff;
    padding: 10px;
    border-radius: 3rem;
    background-color: #bf5347;
    color: #fff;
    padding: 10px;
    border-radius: 3rem;
    font-size: 14px;
    position: absolute;
    bottom: 19vw;
    left: 19vw;
    text-align: center;
    width: 340px;
    border-radius: 3rem; }
  .btnn {
    background-color: #607d8b;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 3rem;
    width: 100px;
    margin: 0px 15px 10px 0px;
    display: inline-block;
    color: white;
    font-size: 1.8rem; }
  .btnn a {
    color: white; } }

@media (max-width: 768px) {
  .childa { 
    width: 100%;
    margin: 0; 
}
.childb {
    width:50%;
}
.childc { 
    width: 49%;
    margin: 20px 0 0 0;
} 
.post-comment { 
   margin-bottom: 0px;  
      margin-top: 0px; 
} 
.childc .container {
    width: 104%; 
    margin-left: 0px;
}
  .site-content .post_content > .post-image .post-info {
    bottom: 5.7vw;
    left: 27vw; }
  .site-content .post_content > .post-image .img {
    height: 405px;
    width: 768px;
    transition: all 1s ease; }
  .site-content .post_content .rate h3 {
    margin: 10px;
    font-size: 20px; } }

@media (max-width: 425px) {
  .childb {
    width: 100%;
    margin-left: 0;
}
.childc {
    width: 100%; 
}
.childc .container {
    width: 108%;
    margin-left: -15px;
}
  h1{  
    margin: 23% ;
    margin-bottom:20px; } 
  .site-content .post_content > .post-image .post-info {
    bottom: 47vw;
    left: 10vw; }
  .site-content .post_content > .post-image .img {
    height: 250px;
    width: 100%; }
  .site-content .post_content h4 {
    font-size: 16px; }
  .site-content .post_title h2 {
    font-size: 2.5rem; } }

@media (max-width: 375px) {
  .childc .container {
    width: 109%;
  }
  h1{  
    margin: 17% }
  .site-content .post_content > .post-image .post-info {
    bottom: 59vw;
    left: 7.5vw;
    width: 320px; }
  .site-content .post_content > .post-image .img {
    height: 230px; } }

@media (max-width: 320px) {
  .childc .container {
    width: 111%;
}
  h1{  
    margin: 12% }
  .container {
    width: 100%;
    margin: 5px; } 
  .site-content .post_content > .post-image .post-info {
    font-size: 12px;
    bottom: 82vw;
    width: 270px; }
  .site-content .post_content > .post-image .img {
    height: 190px; }
  .site-content .post_content h4 {
    font-size: 15px; }
  .site-content .post_title h2 {
    font-size: 2rem; } }










404error


@import 'mixins';
@import 'mixins';
@import 'var';

 @import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  background-size: 400%;
}

.error-page{
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff; 
}

.error-page .content{
   width: 100%;
  text-align: center;
}

.content h1{
  font-size: 18vw;
  line-height: 1em;
  position: relative; 
   background-color: #f3ec78;
    background-image: linear-gradient(45deg,#ff8869, #bd4f6c);
    background-size: 100%;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;  
}

.content h4{
  word-spacing: 5px;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: #000; 
  font-size: 3.5em;
}

.content p{
  font-size: 1.2em;
  color: #0d0d0d;
}

.content .btns{
  margin: 25px, 0;
  display: inline-flex; 
}

.content .btns button{
  display: inline-block;
  margin: 40px 10px;
  text-decoration: none;
  border: 2px solid #c65864;
  color: #c65864;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.content .btns button:hover{
  background:  #c65864 ;
  color: #fff;
}

@media (max-width: 768px) { 
.content h4{
  font-size: 2.5em;
}
}

@media (max-width: 425px) {
.content h1{
  font-size: 30vw;
}
.content h4{
  font-size: 2em;
}

.content .btns button{ 
  margin: 20px 10px;
}
}









create_post


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{ 
  padding: 100px 0 0 0;
  text-align: center;
  color: #607d8b;
  font-weight: 600;
  font-size: 2em;
  text-transform: uppercase;
    margin-top: 0;
  margin-bottom: 30px;
  margin-left: 172px;
  border-bottom: 4px solid#ff4584;
  display: inline-block;
  letter-spacing: 1px; 
}

p{
  text-align: center;
}

.gp{
  width: 100%;
  height:97vh; 
  color: #fff;
  margin: 0; 
}

.p{
  height: 70%;
  margin: 0 30px 0 30px; 
  box-shadow: 0 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition:all 0.2 linear;
  flex-direction: row-reverse;
}

.child{  
 flex: 1 1 500px ; 
}

.child img{  
  height: 360px;
  width: 500px; 
  margin: 10px ; 
  position: absolute;
  border: 1px solid #607d8b; 
}

input[type="submit"]{
  background: #607d8b;
  border: none;
  color: #fff;
  font-weight: 500;
  outline: none;
  cursor: pointer; }
  input[type="submit"]:hover {
    background: #bd4f6c; }
    input,textarea {
      color: #607d8b;
      font-weight: 400;
      margin-bottom: 10px;
      display: inline-block;
      letter-spacing: 1px;
      font-size: 16px;
      width: 500px;
      padding: 10px 20px;
      outline: none;
      border-radius: 30px;
      background: transparent;
      border: 1px solid #607d8b; }

      form{
        margin-left: 140px;
      }
 /*
      @media (max-width: 1024px) {

        h1{
          font-size: 2rem;
          margin-left: 3.2%;
          }
          .p{ 
            flex-wrap: nowrap;  
          }
          form{
            margin-top: 10px;
            margin-left: 0px;
          }
.child img{  
width: 460px; 
  height: 330px;
      margin-left: 10px;
  }
  .gp{
  height:10vh;
}
.p{
    height: 1080px;
}
}
*/
@media (max-width: 768px) {

        h1{
          font-size: 2rem;
          margin-left: 17.5%;
          }
          .p{ 
            margin: 0 20px 0 20px;  
          }
          form{
            margin-top: 10px;
            margin-left: 16%;
          }
.child img{ 
  height: 330px;
      margin-left: 116px;
  }
  .gp{
  height:175vh;
}
.p{
    height: 1080px;
}
}


@media (max-width: 425px) {

        h1{
              padding: 80px 0 0 0; 
          margin-left: 7%;
          } 
          form{ 
            margin-left: 10px;
          }
.child img{ 
    width: 370px; 
  height: 250px;
      margin-left: 10px;
  }
  .gp{
  height:155vh;
} 
.p{
    height: 920px;
}

 input,textarea {  
      font-size: 14px;
      width: 370px; 
       }

}


@media (max-width: 375px) {

        h1{ 
          margin-left: 5.5%;
          }  
.child img{ 
    width: 335px;
    height: 230px; 
  }
  .gp{
  height:145vh;
} 
.p{
    margin: 0 10px 0 10px;
    height: 875px;
}

 input,textarea {  
      font-size: 14px;
      width: 335px; 
       }

}


@media (max-width: 320px) {

        h1{ 
          margin-left: 6.5%;
          }  
.child img{ 
    width: 280px;
    height: 190px; 
  }
  .gp{
  height:135vh;
} 
.p{ 
    height: 790px;
}

 input,textarea {  
      font-size: 12px;
      width: 280px; 
       }

}







indexadmin


h2 {
  margin-top: 0px; }

/*added after*/
.navbar .logo-image { 
  width: 80px;
  height:80px; 
  overflow: hidden;
  margin-top: -30px;
}

.bg {
  background-image: url(../images/2.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: tahoma;
  color: #fff; }

.text1 {
  font-size: 80px;
  display: block;
  color: #fff; }

.text2 {
  font-size: 50px;
  display: block;
  color: #fff;
  letter-spacing: 5pxs; }

.bg_admin {
  background-image: url(../images/greg-rakozy-oMpAz-DN-9I-unsplash.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.btn {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 12px, 30px;
  border-radius: 5px;
  color: #fff;
  margin-top: 40px;
  font-size: 22px; }
  .btn:hover {
 background-color:rgba(0, 0, 0, 0.5);  
    color: #fff; }

.navbar {
  padding: 45px 0px;
  transition: all 0.5s ease-in-out;
  font-family: tahoma; }
  .navbar .wrapper {
    padding: 0 85px; }
  .navbar .navbar-nav {
    float: right; }
    .navbar .navbar-nav > li > a {
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400; }
      .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
        background: none;
        color: #fff; }
  .navbar .navbar-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    border-radius: 0; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #fff; }
  .navbar .navbar-brand {
    color: #fff;
    margin-top: -21px; }
  .navbar .navbar-collapse {
    max-height: none !important; }

.latest-news-area {
  margin: 40px;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, 1fr); }
  .latest-news-area .latest-news-wrap {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    height: 540px;
    justify-content: space-between;
    flex-direction: column;
    display: flex; }
  .latest-news-area .date {
    background: #bd4f6c none repeat scroll 0 0;
    height: 70px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
    padding: 10px; }
    .latest-news-area .date span {
      display: block;
      color: #fff;
      font-weight: 700;
      font-size: 16px; }
  .latest-news-area .news-content {
    padding: 20px;
    margin-left: 3px;
    font-family: Arial, Helvetica, sans-serif; }
    .latest-news-area .news-content h3 {
      margin-top: 0px;
      margin-bottom: 5px; }
    .latest-news-area .news-content h5 {
      margin-top: 15px;
      margin-bottom: 20px; }
    .latest-news-area .news-content p {
      margin-bottom: 10px;
      text-align: justify;
      margin-top: 10px; }
    .latest-news-area .news-content a {
      font-size: 14px;
      color: #fff;
      justify-content: flex-end;
      display: flex;
      float: left;
      font-size: 14px;
      background-color: #cf7065;
      padding: 10px 20px;
      transition: all 0.5s ease-in;
      width: 120px; }
      .latest-news-area .news-content a:hover {
        font-size: 14px;
        color: #bd4f6c;
        justify-content: flex-end;
        display: flex;
        float: left;
        border: 1px solid #bd4f6c;
        border-top-right-radius: 20px;
        background-color: transparent;
        text-decoration: none; }

.news-img {
  position: relative; }
  .news-img:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.5s; }
    .latest-news-wrap:hover .news-img:before {
      opacity: 0.4;
      transform: scale(1); }

@media (max-width: 768px) {
  .latest-news-area {
    margin: 20px;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr); }
    .latest-news-area .latest-news-wrap {
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
      height: auto;
      justify-content: space-between;
      flex-direction: column;
      display: flex; }
  .text1 {
    font-size: 60px;
    display: block;
    color: #fff; }
  .text2 {
    font-size: 30px;
    display: block;
    color: #fff;
    letter-spacing: 5pxs; } }








trending posts


.contentt {
background:#e8e4e494;
 border: none; 
  height: 100%;
   margin-top: -10px;
}

  .contentt h4{ 
  font-size:30px;
  padding-top:30px ;
  color: #b5426c;
}

.article{ 
  margin:20px 0
}

.article img{ 
  width: 100px;
    height: 100px;
    border-radius: 100px;
     margin-left: 20px;
}

.trending-category { 
  text-decoration:none;
  scolor: #000;
}

.card-body a{
  text-decoration: none;
  color: #000;
} 








post_srud


.navbar {
  padding: 45px 0px;
  transition: all 0.5s ease-in-out;
  font-family: tahoma;
  background-color: #bd4f6c;
  background-image: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
  padding: 7px 0; }

.btnn {
  background-color: #607d8b;
  color: #fff;
  padding: 5px 10px 5px 10px;
  border-radius: 3rem;
  width: 100px;
  margin-top: 15px;
  margin-right: 15px;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer; }
  .btnn:hover {
    background: #bd4f6c;
    text-decoration: none; }

body {
  font-family: Arial, Helvetica, sans-serif; }

.site-content {
  text-align: center;
  margin-top: 100px; }
  .site-content .post-content {
    margin-bottom: 1.5rem; }
    .site-content .post-content > .post-image .post-title {
      position: absolute; }
    .site-content .post-content > .post-image .post-info {
      background-color: #bf5347;
      color: #fff;
      padding: 10px;
      border-radius: 3rem;
      background-color: #bf5347;
      color: #fff;
      padding: 10px;
      border-radius: 3rem;
      font-size: 16px;
      position: absolute;
      bottom: 6.7vw;
      left: 22vw;
      text-align: center;
      width: 400px;
      border-radius: 3rem; }
    .site-content .post-content > .post-image > div {
      overflow: hidden; }
    .site-content .post-content > .post-image .img {
      content: " (" attr(href) ")";
      height: 300px;
      width: 500px;
      margin: 10px 10px 20px 325px;
      border: 1px solid #000;
      transition: all 1s ease; }
    .site-content .post-content > .post-image .post-info span {
      margin: 0.5rem; }
  .site-content .post-title {
    margin-top: 35px;
    font-size: 1.5rem; }

@media (max-width: 1024px) {
  .site-content .post-content {
    font-size: 16px; }
    .site-content .post-content > .post-image .post-info {
      background-color: #bf5347;
      color: #fff;
      padding: 10px;
      border-radius: 3rem;
      background-color: #bf5347;
      color: #fff;
      padding: 10px;
      border-radius: 3rem;
      font-size: 14px;
      position: absolute;
      bottom: 19vw;
      left: 19vw;
      text-align: center;
      width: 340px;
      border-radius: 3rem; }
  .btnn {
    background-color: #607d8b;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 3rem;
    width: 100px;
    margin: 0px 15px 10px 0px;
    display: inline-block;
    color: white;
    font-size: 1.8rem; }
    .btnn a {
      color: white; } }

@media (max-width: 768px) {
  .site-content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 100% 0%; }
    .site-content .post-content {
      font-size: 16px; }
      .site-content .post-content > .post-image .post-info {
        background-color: #bf5347;
        color: #fff;
        padding: 10px;
        border-radius: 3rem;
        background-color: #bf5347;
        color: #fff;
        padding: 10px;
        border-radius: 3rem;
        font-size: 14px;
        position: absolute;
        bottom: 5.7vw;
        left: 27vw;
        text-align: center;
        width: 340px;
        border-radius: 3rem; }
      .site-content .post-content > .post-image .img {
        height: 405px;
        width: 768px;
        transition: all 1s ease; }
      .site-content .post-content .rate h3 {
        margin: 10px;
        font-size: 20px; }
  .btnn {
    background-color: #607d8b;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 3rem;
    width: 100px;
    margin: 0px 15px 10px 0px;
    display: inline-block;
    color: white;
    font-size: 1.8rem; }
    .btnn p {
      color: white; } }

@media (max-width: 425px) {
  .site-content .post-content > .post-image .post-info {
    background-color: #bf5347;
    color: #fff;
    padding: 10px;
    border-radius: 3rem;
    background-color: #bf5347;
    color: #fff;
    padding: 10px;
    border-radius: 3rem;
    font-size: 14px;
    position: absolute;
    bottom: 47vw;
    left: 10vw;
    text-align: center;
    width: 340px;
    border-radius: 3rem; }
  .site-content .post-content > .post-image .img {
    height: 250px;
    width: 100%;
    transition: all 1s ease; }
  .site-content .post-content h4 {
    font-size: 16px; }
  .site-content .post-title h2 {
    font-size: 2.5rem; } }

@media (max-width: 375px) {
  .site-content .post-content > .post-image .post-info {
    background-color: #bf5347;
    color: #fff;
    padding: 10px;
    border-radius: 3rem;
    background-color: #bf5347;
    color: #fff;
    padding: 10px;
    border-radius: 3rem;
    font-size: 14px;
    position: absolute;
    bottom: 59vw;
    left: 7.5vw;
    text-align: center;
    width: 320px;
    border-radius: 3rem; }
  .site-content .post-content > .post-image .img {
    height: 230px;
    width: 100%;
    transition: all 1s ease; } }

@media (max-width: 320px) {
  .site-content {
    margin: 100px 3px; }
    .site-content .post-content > .post-image .post-info {
      background-color: #bf5347;
      color: #fff;
      padding: 10px;
      border-radius: 3rem;
      background-color: #bf5347;
      color: #fff;
      padding: 10px;
      border-radius: 3rem;
      font-size: 12px;
      position: absolute;
      bottom: 82vw;
      left: 7.5vw;
      text-align: center;
      width: 270px;
      border-radius: 3rem; }
    .site-content .post-content > .post-image .img {
      height: 190px;
      width: 100%;
      transition: all 1s ease; }
    .site-content .post-content h4 {
      font-size: 15px; }
    .site-content .post-title h2 {
      font-size: 2rem; } }
