*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{ 
  padding: 100px 0 0 0;
  text-align: center;
  color: #607d8b;
  font-weight: 600;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: 172px;
  border-bottom: 4px solid#ff4584;
  display: inline-block;
  letter-spacing: 1px; 
}

p{
  text-align: center;
}

.gp{
  width: 100%;
  height:97vh; 
  color: #fff;
  margin: 0; 
}

.p{
  height: 70%;
  margin: 0 30px 0 30px; 
  box-shadow: 0 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition:all 0.2 linear;
  flex-direction: row-reverse;
}

.child{  
 flex: 1 1 500px ; 
}

.child img{  
  height: 360px;
  width: 500px; 
  margin: 10px ; 
  position: absolute;
  border: 1px solid #607d8b; 
}

input[type="submit"]{
  background: #607d8b;
  border: none;
  color: #fff;
  font-weight: 500;
  outline: none;
  cursor: pointer; }
  input[type="submit"]:hover {
    background: #bd4f6c; }
    input,textarea {
      color: #607d8b;
      font-weight: 400;
      margin-bottom: 10px;
      display: inline-block;
      letter-spacing: 1px;
      font-size: 16px;
      width: 500px;
      padding: 10px 20px;
      outline: none;
      border-radius: 30px;
      background: transparent;
      border: 1px solid #607d8b; }

      form{
        margin-left: 140px;
      }
 /*
      @media (max-width: 1024px) {

        h1{
          font-size: 2rem;
          margin-left: 3.2%;
          }
          .p{ 
            flex-wrap: nowrap;  
          }
          form{
            margin-top: 10px;
            margin-left: 0px;
          }
.child img{  
width: 460px; 
  height: 330px;
      margin-left: 10px;
  }
  .gp{
  height:10vh;
}
.p{
    height: 1080px;
}
}
*/
@media (max-width: 768px) {

        h1{
          font-size: 2rem;
          margin-left: 17.5%;
          }
          .p{ 
            margin: 0 20px 0 20px;  
          }
          form{
            margin-top: 10px;
            margin-left: 16%;
          }
.child img{ 
  height: 330px;
      margin-left: 116px;
  }
  .gp{
  height:175vh;
}
.p{
    height: 1080px;
}
}


@media (max-width: 425px) {

        h1{
              padding: 80px 0 0 0; 
          margin-left: 7%;
          } 
          form{ 
            margin-left: 10px;
          }
.child img{ 
    width: 370px; 
  height: 250px;
      margin-left: 10px;
  }
  .gp{
  height:155vh;
} 
.p{
    height: 920px;
}

 input,textarea {  
      font-size: 14px;
      width: 370px; 
       }

}


@media (max-width: 375px) {

        h1{ 
          margin-left: 5.5%;
          }  
.child img{ 
    width: 335px;
    height: 230px; 
  }
  .gp{
  height:145vh;
} 
.p{
    margin: 0 10px 0 10px;
    height: 875px;
}

 input,textarea {  
      font-size: 14px;
      width: 335px; 
       }

}


@media (max-width: 320px) {

        h1{ 
          margin-left: 6.5%;
          }  
.child img{ 
    width: 280px;
    height: 190px; 
  }
  .gp{
  height:135vh;
} 
.p{ 
    height: 790px;
}

 input,textarea {  
      font-size: 12px;
      width: 280px; 
       }

}