.bg {
  background-image: url(../images/2.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: tahoma;
  color: #fff; }

.text1 {
  font-size: 80px;
  display: block;
  color: #fff; }

.text2 {
  font-size: 50px;
  display: block;
  color: #fff;
  letter-spacing: 5pxs; }

.bg_admin {
  background-image: url(../images/greg-rakozy-oMpAz-DN-9I-unsplash.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.btn {
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 12px, 30px;
  border-radius: 5px;
  color: #fff;
  margin-top: 40px;
  font-size: 22px; }
  .btn:hover {
    background-color: #c24234;
    color: #fff; }

.navbar {
  padding: 45px 0px;
  transition: all 0.5s ease-in-out;
  font-family: tahoma; }
  .navbar .wrapper {
    padding: 0 85px; }
  .navbar .navbar-nav {
    float: right; }
    .navbar .navbar-nav > li > a {
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400; }
      .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
        background: none;
        color: #fff; }
  .navbar .navbar-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    border-radius: 0; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #fff; }
  .navbar .navbar-brand {
    color: #fff;
    margin-top: -21px; }
  .navbar .navbar-collapse {
    max-height: none !important; }

.latest-news-area {
  margin: 40px;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, 1fr); }
  .latest-news-area .latest-news-wrap {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    height: 540px;
    justify-content: space-between;
    flex-direction: column;
    display: flex; }
  .latest-news-area .date {
    background: #bd4f6c none repeat scroll 0 0;
    height: 70px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
    padding: 10px; }
    .latest-news-area .date span {
      display: block;
      color: #fff;
      font-weight: 700;
      font-size: 16px; }
  .latest-news-area .news-content {
    padding: 20px;
    margin-left: 3px;
    font-family: Arial, Helvetica, sans-serif; }
    .latest-news-area .news-content h3 {
      margin-top: 0px;
      margin-bottom: 5px; }
    .latest-news-area .news-content h5 {
      margin-top: 15px;
      margin-bottom: 20px; }
    .latest-news-area .news-content p {
      margin-bottom: 10px;
      text-align: justify;
      margin-top: 10px; }
    .latest-news-area .news-content a {
      font-size: 14px;
      color: #fff;
      justify-content: flex-end;
      display: flex;
      float: left;
      font-size: 14px;
      background-color: #cf7065;
      padding: 10px 20px;
      transition: all 0.5s ease-in;
      width: 120px; }
      .latest-news-area .news-content a:hover {
        font-size: 14px;
        color: #bd4f6c;
        justify-content: flex-end;
        display: flex;
        float: left;
        border: 1px solid #bd4f6c;
        border-top-right-radius: 20px;
        background-color: transparent;
        text-decoration: none; }

.news-img {
  position: relative; }
  .news-img:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.5s; }
    .latest-news-wrap:hover .news-img:before {
      opacity: 0.4;
      transform: scale(1); }

@media (max-width: 768px) {
  .latest-news-area {
    margin: 20px;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr); }
    .latest-news-area .latest-news-wrap {
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
      height: auto;
      justify-content: space-between;
      flex-direction: column;
      display: flex; }
  .text1 {
    font-size: 60px;
    display: block;
    color: #fff; }
  .text2 {
    font-size: 30px;
    display: block;
    color: #fff;
    letter-spacing: 5pxs; }
  .table {
    margin: 0px;
    font-size: 13px;
    text-align: center; }
    .table .btn {
      margin: 4px;
      font-size: 13px;
      padding: 2px;
      width: 60px; } }
