
.table{
    font-size: 20px;
    text-align: center;
    margin: 0px;
}

.table .btn{

    padding: 2px;
    margin: 4px;
    width: 100px;
}
a {
    color: #b7337c;
    text-decoration: none;
}
.table .btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
a:hover {
    color: #fff;
    text-decoration: none;
}
/*.orng{
 color: #d7816a;
    text-decoration: none;
}*/

.btn {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    border: 2px solid white;
    padding: 12px, 30px;  
    color: white;
    margin-top: 40px;
    font-size: 22px;
}
 

