* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

.table {
  margin: 0px;
  font-size: 20px;
  text-align: center; }
  .table .btn {
    margin: 4px;
    font-size: 20px;
    padding: 2px;
    width: 100px; }
    .table .btn:hover {
      background-color: rgba(0, 0, 0, 0.7); }

a {
  color: #b7337c;
  text-decoration: none; }
  a:hover {
    color: #fff;
    text-decoration: none; }

.btn {
  width: 100%; }

@media (max-width: 425px) {
  .container {
    padding-left: 0px; }
  .table {
    font-size: 15px;
    margin-left: 8px; }
    .table .btn {
      font-size: 15px; } }

@media (max-width: 375px) {
  body {
    width: 378px; } }

@media (max-width: 320px) {
  .hero {
    left: 59%; } }
