 RewriteEngine on
 
ErrorDocument 404 http://internship.local/404.php


RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^([^\.]+)$ $1.php [NC,L]


 #RewriteCond %{REQUEST_FILENAME} !-d

 #RewriteCond %{REQUEST_FILENAME}\.php -f

 #RewriteRule ^templates/Post/view/([0-9]+)$ templates/Post/view.php?id=$1 [NC,L]

